.btn--style{
    font-family: kallisto,sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 26px;
    background-color: #D95D39;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
    border: none;
    border-radius: 30px;
    margin-bottom: 50px;

    &:hover{
        transform: scale(1.1);
		transition: 0.5s;
    }
}

.btn--p2{
    margin-bottom: 75px;
}

.btn1{
    display: none;
}