.nav__menu {
    z-index: 200;
    cursor: pointer;
    text-align: center;
    flex-direction: column;
    color: #E7C06A;
    font-family: "kallisto", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 32px;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin-top: 70px;
    background-color: #004F2D;
    padding: 0;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
}


.burger__close {
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
}

.nav__menu li {

    position: relative;


    &::before {

        content: "";
        width: 100%;
        height: 3px;
        position: absolute;
        bottom: 25%;
        transform: scaleX(0);
        transition: transform .6s ease;

    }

    &:hover::before,

    &.active::before {

        transform: scaleX(1);
        font-size: 35px;
        transition: 0.5s;
        color: #D95D39;
        letter-spacing: 3px;

        ::before {
            content: "➜";
        }

    }

}


.nav__menu li:hover::before,

.nav__menu li.active::before {
    transform: scaleX(1);
}


.nav__menu__el {

    display: flex;
    text-align: center;
    height: 80px;

    a {
        margin: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-decoration: none;
        color: #E7C06A;
        margin-top: 100px;
    }

    :hover {
        color: #D95D39;
    }

}

.burger {

    display: flex;
    justify-content: space-between;

}

.burger__lines {
    display: flex;
    flex-direction: column;
    border: none;
    background: none;
    position: absolute;
    left: 25px;
    top: 25px;
}




.burger__line {
    background-color: #004F2D;
    width: 30px;
    height: 3px;
    margin: 3px;
    border-radius: 10px;
    transition: 0.5s;
}


.burger__lines:hover {
    .burger__line {
        background-color: #D95D39;
    }
}




.burger__lines__croix {

    .burger__line {
        margin: 0px;
        transform: rotate(45deg);
        transition: 0.5s;

        :hover {
            .burger__lines {
                .burger__line {
                    margin-top: 3px;
                    margin-bottom: 3px;
                }
            }
        }

    }

    .burger__line--none {
        display: none;
    }

    .burger__line--rotate {
        transform: rotate(135deg);
    }

}

.burger-2 {
    display: none;
}


@media (min-width: 1024px) {

 

        .nav__menu {
            position: absolute;
            z-index: 10;
            overflow: hidden;
            cursor: pointer;

            flex-direction: column;
            color: #E7C06A;
            font-family: "kallisto", sans-serif;
            font-weight: 800;
            font-style: normal;
            font-size: 50px;
            width: 100%;
            margin-top: 0px;
            background-color: #004F2D;
            padding: 0;
            transform: translateX(0);
            transition: transform 1s ease-in-out;
            border-bottom-right-radius: 200px;
        }
    


    .burger__close {
        transform: translateX(-100%);
        transition: transform 0.5s ease-in-out;
    }

    .burger__lines {
        top: 50px;
        left: 50px;
        cursor: pointer;

        .burger__line {
            background-color: #E7C06A;
        }
    }

    .burger__line {
        color: #E7C06A;
        width: 30px;
        height: 3px;
        margin: 3px;
        border-radius: 10px;
        transition: 0.5s;
    }

    .nav__menu__el {
        margin-top: 50px;
        display: flex;
        align-items: left;

        :hover {

            letter-spacing: 5px;

            ::before {
                content: "➜";
            }
        }

    }

    .burger-2 {
        display: block;
    }




}