/* GENERAL STYLES */
.visuallyHidden {
    position: absolute; 
    overflow: hidden;
    width: 1px; 
    margin: 0; 
    padding: 0; 
    border: 0; 
    left: 5%;
}

.label{
    max-width: 30px;
    height: 30px;
}

.hamburger {
    margin: 0 auto;
    margin-top: 0px;
    width: 30px;
    height: 30px;
    position: fixed;
    left: 30px;
    z-index: 5;
    cursor: pointer;
}

.hamburger .bar {
    padding: 0;
    width: 30px;
    height: 4px;
    background-color: #004F2D;
    display: block;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    position: absolute; 
}

.bar1 {
    top: 0;
}

.bar2,
.bar3 {
    top: 13.5px;
}

.bar3 {
    right: 0;
}

.bar4 {
    bottom: 0;
}


.hamburger3 .bar1 {
    transform-origin: 5%;
}

.hamburger3 .bar4 {
    transform-origin: 5%;
}

.checkbox3:checked + label > .hamburger3 > .bar1{
    transform: rotate(45deg);
    height: 3px;
    width: 42px;

}

.checkbox3:checked + label > .hamburger3 > .bar3{
    transform: rotate(45deg);
    height: 3px;
    background-color: transparent;

}

.checkbox3:checked + label > .hamburger3 > .bar2{
    transform: rotate(-45deg);
    height: 3px;
    background-color: transparent;
}

.checkbox3:checked + label > .hamburger3 > .bar4{
    transform: rotate(-45deg);
    height: 3px;
    width: 42px;

}



  #menu__liste{
      position: fixed;
      top: 0;
      margin: 0;
      margin-top: 70px;
      left:100%;
      width: 100%;
      height: 100%;
      transition : all 1s cubic-bezier(0.16, 1, 0.3, 1);
      list-style-type: none;
  }
  
  .menu__el{
      margin-top: 50px;
      margin-bottom: 100px;
      margin-left: 40px;
      color: #E7C06A;
      font-family: "kallisto", sans-serif;
      font-weight: 800;
      font-style: normal;
      font-size: 32px;
      text-decoration: none;
      border: none;
      transition: border 0.3s;
    
    

        &:hover{
            font-size: 35px;
            transition: 0.5s;
            color: #D95D39;
            letter-spacing: 3px;
        }
  }
  
  .menu-deroulant{
      margin-top: 100px;
  }
  
  .menu--open #menu__liste{
      transform: translateX(-100%);
      border-left: 4px solid #E7C06A;

  }

  .liste{
    background-color: #004F2D;
  }

 


  