.fond-idee{
    background-image: url('../assets/images/localfond.svg');
    background-repeat: no-repeat;
    background-position:  -300px 0px;
}

.fond-audit{
    background-image: url('../assets/images/localfond.svg');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position:  300px 100px;
}




.div-futur{
    background-image: url('../assets/images/localfond.svg');
    background-repeat: no-repeat;
    background-position:  200px -400px;
}

.fond-fonc1{
    background-image: url('../assets/images/localfond.svg');
    background-repeat: no-repeat;
    background-size: 75%;
    background-position:  300px 100px;
}

.fond-fonc2{
    background-image: url('../assets/images/localfond.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position:  -25px 100px;
}


@media (min-width: 600px){
    .div-futur{
        background-position:  300px 450px;
    }

    .fond-audit{
        background-size: 30%;
        background-position:  -100px -50px;
    }

    .fond-fonc2{
        background-position:  -25px 0px;
    }

    .fond-fonc1{
        background-size: 40%;
        background-position:  600px 0px;
    }

}