.fond-idee{
    background-image: url('../assets/images/localfond.svg');
    background-repeat: no-repeat;
    background-position:  -300px 0px;
}

.fond-audit{
    background-image: url('../assets/images/localfond.svg');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position:  300px 100px;
}




.div-futur{
    background-image: url('../assets/images/localfond.svg');
    background-repeat: no-repeat;
    background-position:  200px -400px;
}