@media (min-width: 1024px) {
  .grid-accueil {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr 1fr;
    grid-gap: 15px;
    margin-left: 150px;
    max-height: 100%;

    .btn1 {
      grid-column: 1 / 2;
      grid-row: 2 / 3;

    }
  }

  .grid-accueil .grid-accueil-2 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
  }





  .grid-accueil img {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }

}

@media (min-width: 1800px) {

  .grid-accueil {
    max-height: 100%;
  }
}