img {
  width: 200px;
  height: 200px;
}

.img--arbre {
  width: 325px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 33px;
  margin-top: 50px;
  margin-bottom: 75px;
  display: block;
}

@media (min-width: 600px) {
  .img--arbre {
    width: 400px;
    height: 300px;
    margin-left: auto;
  }
}

@media (min-width: 800px) {
  .img--arbre {
    width: 600px;
    height: 400px;
  }
}

@media (min-width: 1024px) {
  .img--arbre {
    border-radius: 0px;
    width: 100%;
    height: 100%;
    margin: 0;
  }
}