img {
  width: 200px;
  height: 200px;
}

.img--arbre {
  width: 350px;
  height: 210px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 33px;
  margin-top: 50px;
  margin-bottom: 50px;
  display: block;
}

@media (min-width: 600px) {
  .img--arbre {
    width: 500px;
    height: 300px;
  }
}

@media (min-width: 800px) {
  .img--arbre {
    width: 700px;
    height: 400px;
  }
}

@media (min-width: 1024px) {
  .img--arbre {
    border-radius: 0px;
    width: 100%;
    height: 100%;
    margin: 0;
  }
}