.fonc-logo{
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 0px;
   width: 35%;
   height: 180px;

}

.swiper-container{
    margin-top: 75px;
    margin-bottom: 50px;
    max-width: 100%;
    height: 100%;
    overflow: hidden;

    .swiper-fonc{
        max-width: 85%;
        height: 425px;;
        margin-inline-start: 7.5%;
        margin-inline-end: 7.5%;
    }
}

.flèche{
    display: flex;
    align-items: center;
    width: 150%;
}


.swiper-slide{
    background-color: #FFFCF5;
    border-radius: 25px;
    display: block;
    align-items: center;
    box-shadow: #CCB67A 3px 3px 3px;
    
}

.h4-fonc{
    font-family: "kallisto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 23px;
    color: #004F2D;
    display: flex;
    justify-content: center;
    margin-top: 0px;
}

.p-fonc1{
    margin-top: 75px;
}
.p-fonc2{
    padding-bottom: 75px;
}


@media (min-width: 600px){
    .fonc-logo{
        width: 30%;
        height: 180px;
        margin-top: 25px;
     }

     .h4-fonc{
        margin-top: 25px;
    }

    .swiper-container{
        .swiper-fonc{
            height: 450px;
            
            p{
                margin-left: 75px;
                margin-right: 75px;
            }
        }
    }
}


@media (min-width: 800px){
    .swiper-container{
        .swiper-fonc{
            max-width: 75%;
            margin-inline-start: 12.5%;
            margin-inline-end: 12.5%;
        }
    }
}