.section-besoin {
  background-image: url('../assets/images/velofond.svg');
  background-repeat: no-repeat;
  background-size: 130%;
  background-position: -80px 70px;
}



.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0px;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 25px;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;

  img {
    width: 160px;
    height: 140px;
    border-radius: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  p {
    margin: 0;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 25px;
  }
}

.container div:nth-child(1) {
  grid-column: 1 / 3;
}

.container div:nth-child(2) {
  grid-column: 3 / 5;
}

.container div:nth-child(3) {
  grid-column: 1 / 3;
}

.container div:nth-child(4) {
  grid-column: 3 / 5;
}

.container div:nth-child(5) {
  grid-column: 1 / 3;
}

.container div:nth-child(6) {
  grid-column: 3 / 5;
}





.container2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0px;
  flex-wrap: wrap;
  margin-top: 25px;
  margin-bottom: 50px;
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;

  img {
    width: 90px;
    height: 90px;
    border-radius: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFCF5;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    box-shadow: #CCB67A 3px 3px 10px;
  }

  p {
    margin: 0;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 15px;
  }
}

.container2 div:nth-child(1) {
  grid-column: 1 / 3;
}

.container2 div:nth-child(2) {
  grid-column: 3 / 5;
}

.container2 div:nth-child(3) {
  grid-column: 1 / 3;
}

.container2 div:nth-child(4) {
  grid-column: 3 / 5;
}

.container2 div:nth-child(5) {
  grid-column: 2 / 4;
}


@media (min-width: 600px) {
  .section-besoin {
    background-size: 120%;
    background-position: -80px 70px;
    margin-top: 100px;
  }

  .container {

    img {
      width: 225px;
      height: 180px;
    }
  }

  .container2 {
    margin-top: 50px;

    img {
      width: 130px;
      height: 130px;
    }
  }

  .fond-idee {
    margin-top: 75px;
  }

}



@media (min-width: 800px) {
  .container {
    margin-left: 100px;
    margin-right: 100px;

    img {
      width: 250px;
      height: 200px;
    }
  }

  .container2 {
    margin-top: 75px;
    margin-left: 75px;
    margin-right: 75px;
    grid-template-columns: repeat(6, 1fr);
    margin-bottom: 0;
    padding-bottom: 75px;

  }

  .container2 div:nth-child(1) {
    grid-column: 1 / 3;
  }

  .container2 div:nth-child(2) {
    grid-column: 3 / 5;
  }

  .container2 div:nth-child(3) {
    grid-column: 5 / 7;
  }

  .container2 div:nth-child(4) {
    grid-column: 2 / 4;
  }

  .container2 div:nth-child(5) {
    grid-column: 4 / 6;
  }


  .section-besoin {
    background-size: 105%;
    background-position: -80px 20px;
  }

}


@media (min-width: 1024px) {
  .grid-besoin {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .grid-besoin .para-gauche {
    grid-column: 1 / 2;

    p {
      margin-left: 50px;
      margin-right: 0;
    }

    
  }

  .grid-besoin .para-droite {
    margin-top: 300px;
    grid-column: 2 / 3;
  }

}