.section-passe {
    background-color: #004F2D;
    padding-top: 25px;
    padding-bottom: 0px;


    h2 {
        color: #FCF4DF;
    }

    p {
        color: #FCF4DF;
        margin-bottom: 15px;
    }

    img {
        width: 100%;
        height: 250px;
        margin-top: 25px;
    }
}

@media (min-width: 600px) {

    .section-passe {

        padding-top: 50px;

        img {
            width: 100%;
            height: 400px;
            margin-top: 25px;
        }
    }
}

@media (min-width: 800px) {

    .section-passe {
        padding-top: 50px;

        img {
            position: relative;
            top: 50px;
            border-radius: 25px;
            margin-left: 75px;
            width: 80%;
            height: 450px;
            margin-top: 25px;
        }
    }

    .section-passe p:nth-child(3) {
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 1px;
        line-height: 1.5;
        margin-top: 25px;
    }
}


@media (min-width: 1024px) {
    .grid-passe {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

        p {
            margin-left: 50px;
            margin-right: 50px;
            margin-bottom: 0;
            opacity: 80%;
        }


    }

    .section-passe .p-passe-1 {
        grid-column: 1 / 1;
        grid-row: 1 / 2;
        margin-left: 100px;
        margin-top: 50px;

    }

    .section-passe p:nth-child(2) {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        margin-right: 100px;
        margin-top: 50px;
    }

    .section-passe p:nth-child(3) {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        margin-left: 100px;
        font-size: 22px;
        font-weight: 600;
        letter-spacing: 2px;
        line-height: 1.5;
    }

    .section-passe img {
        grid-column: 2 / 3;
        grid-row: 2 / 3;

        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
    }

    .section-passe {
        img {
            width: 90%;
        }
    }


}