.section-passe {
    background-color: #004F2D;
    padding-top: 25px;
    padding-bottom: 0px;



    h2 {
        color: #FCF4DF;
        margin-bottom: 50px;
    }

    p {
        color: #FCF4DF;
        margin-bottom: 20px;
        line-height: 25px;
    }

    img {
        width: 100%;
        height: 250px;
        margin-top: 25px;
    }
}

@media (min-width: 600px) {

    .section-passe {

        padding-top: 50px;

        img {
            width: 100%;
            height: 400px;
            margin-top: 40px;
        }
    }
}

@media (min-width: 800px) {

    .section-passe {
        padding-top: 50px;

        img {
            position: relative;
            top: 50px;
            border-radius: 25px;
            margin-inline-start: 5%;
            margin-inline-end: 5%;
            width: 90%;
            height: 450px;
            margin-top: 25px;
        }
    }

    .section-passe p:nth-child(3) {
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 1px;
        line-height: 1.5;
        margin-top: 25px;
    }
}


@media (min-width: 1024px) {
    .grid-passe {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding-bottom: 50px;

        p {
            margin-left: 50px;
            margin-right: 50px;
            margin-bottom: 0;
            opacity: 80%;
        }
    }
    .section-passe .p-passe-1 {
        grid-column: 1 / 1;
        grid-row: 1 / 2;
        margin-left: 75px;
        margin-top: 25px;
        margin-bottom: 50px;

    }

    .section-passe p:nth-child(2) {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        margin-right: 50px;
        margin-left: 75px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .section-passe p:nth-child(3) {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        margin-left: 50px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .section-passe img {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        z-index: 0;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: -100px;
        margin-bottom: 50px;
    }

    .section-passe {
        img {
            width: 90%;
        }
    }
}

@media (min-width: 1200px) {
    .section-passe img {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        z-index: 0;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: -200px;
        margin-bottom: 50px;
        width: 115%;
        height: 130%;
    }
}


@media (min-width: 1400px) {

    .section-passe {

        p {
            line-height: 30px;
            margin-left: 125px;
            margin-right: 125px;
        }
    }

    .section-passe img {

        z-index: 100;
        grid-column: 2 / 3;
        grid-row: 1 / 2;

        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: -300px;
        margin-bottom: 0px;
        width: 130%;
        height: 150%;
    }
}

@media (min-width: 1800px) {

    .section-passe p {
        opacity: 1;
    }

    .section-passe .p-passe-1 {
        margin-left: 150px;
        margin-top: 50px;
    }

    .section-passe p:nth-child(1) {
        margin-right: 50px;
        margin-left: 150px;
        margin-top: 50px;
    }

    .grid-passe {
        margin-right: 100px;
    }
}