.swiper-container {
  margin-top: 0px;
  margin-bottom: 50px;
  max-width: 90%;
  height: 100%;
  overflow: hidden;
  z-index: 1;

}

.swiper-wrapper {
  margin: O;
}



.swiper-slide {
  max-width: 85%;
  height: 240px;
  background-color: #FFFCF5;
  border-radius: 25px;
  box-shadow: #CCB67A 10px 10px 10px;
  margin-inline-start: 7.5%;
  margin-inline-end: 7.5%;

  p {
    margin-left: 15px;
    margin-right: 15px;
  }

  h4 {
    font-family: "kallisto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 23px;
    color: #004F2D;
    display: flex;
    justify-content: center;
  }
}

.vignette-slider {
  margin-inline-start: 7.5%;
  margin-inline-end: 7.5%;
  margin-bottom: 25px;
  max-width: 85%;
  height: 350px;
  background-color: #FFFCF5;
  border-radius: 25px;
  display: block;
  align-items: center;
  box-shadow: #CCB67A 3px 3px 3px;

  h4 {
    font-family: "kallisto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 23px;
    color: #004F2D;
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }

  p {
    margin-bottom: 25px;
    margin-left: 15px;
    margin-right: 15px;
  }

}


.vignette-slider img {
  width: 100%;
  height: 125px;
  border-radius: 15px;
  z-index: -2;
}



.vignette--fonc {
  height: 350px;
  margin-bottom: 25px;

  svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
  }
}

.fleche-swiper {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  width: 50%;
  height: 75px;

}

.logo-strava {
  position: absolute;

}








a {
  text-decoration: none
}

.contenaire {
  margin-bottom: 50px;
  max-width: 100%;
  height: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 0px;
}

.vignette2 {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 25px;
  max-width: 85%;
  height: 400px;
  background-color: #FFFCF5;
  border-radius: 25px;
  display: block;
  align-items: center;
  box-shadow: #CCB67A 3px 3px 3px;

  h4 {
    font-family: "kallisto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 23px;
    color: #004F2D;
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }

  p {
    margin-bottom: 25px;
    margin-left: 15px;
    margin-right: 15px;
  }

}


.vignette2 img {
  width: 100%;
  height: 125px;
  border-radius: 15px;
  z-index: -2;
}


.carte2 {
  border-radius: 5px;
  overflow: hidden;
}

.carte2 img {
  transition: all 1.4s ease;
  box-shadow: #CCB67A 2px 2px 2px;
}

.carte2:hover img {
  transform: scale(1.5);
  border-radius: 15px;
}


.vignette {
  margin-left: 30px;
  margin-right: 30px;
  max-width: 90%;
  height: 260px;
  background-color: #FFFCF5;
  border-radius: 25px;
  display: block;
  align-items: center;
  box-shadow: #CCB67A 3px 3px 3px;

  h4 {
    font-family: "kallisto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 23px;
    color: #004F2D;
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  p {
    margin-bottom: 25px;
  }
}


@media (min-width: 600px) {
  .fleche-swiper {
    width: 70%;
    margin-top: 30px;
  }

  .swiper-container {
    max-width: 50%;

  }

  .swiper-slide {
    max-width: 40%;
    height: 400px;
    margin-inline-start: 5%;
    margin-inline-end: 5%;

    h4 {
      font-family: "kallisto", sans-serif;
      font-weight: 500;
      font-style: normal;
      font-size: 23px;
      color: #004F2D;
      display: flex;
      justify-content: center;
    }
  }

  .contenaire {
    margin-bottom: 75px;
    max-width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .vignette2 {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    max-width: 85%;
    height: 400px;

    h4 {
      font-size: 26px;
    }

    p {
      margin-bottom: 25px;
      margin-left: 30px;
      margin-right: 30px;
    }

  }

  .vignette {
    margin-left: 125px;
    margin-right: 125px;
    max-width: 80%;

    h4 {
      font-size: 26px;
    }
  }

}


@media (min-width: 800px) {
  .contenaire {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .vignette2 {
      margin: 0;
      height: 450px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

  }

  .contenaire div:nth-child(1) {
    grid-column: 1 / 2;
  }

  .contenaire div:nth-child(2) {
    grid-column: 2 / 3;
  }


}

@media (min-width: 1024px) {

  .section-idee {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;

    h3 {
      margin-right: 25px;
    }

    p {
      margin-right: 150px;
      margin-left: 75px;
      margin-top: 25px;
    }
  }

  .section-comp {
    display: flex;
    justify-content: space-around;

    .vignette2 {
      max-width: 80%;
      height: 500px;
    }

    .section-comp-p {
      margin-top: 50px;
      margin-right: 0px;
      font-size: 22px;
      font-weight: 400;
    }
  }

  .section-idee {
    //display: flex;
    //justify-content: space-around;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 50px;
    margin-bottom: 0px;

    .contenaire h3:nth-child(1) {
      grid-column: 1 / 2;
      grid-row: 2/3;
    }

    .contenaire h3:nth-child(2) {
      grid-column: 1 / 2;
      grid-row: 2/3;
    }

    .contenaire p:nth-child(1) {
      grid-column: 2 / 3;
      grid-row: 1/2;
    }

    .contenaire p:nth-child(2) {
      grid-column: 2 / 3;
      grid-row: 2/3;
    }
  }

  .swiper-slide {
    max-width: 30%;
    height: 400px;
    margin-inline-start: 1.5%;
    margin-inline-end: 1.5%;

    h4 {
      font-family: "kallisto", sans-serif;
      font-weight: 500;
      font-style: normal;
      font-size: 23px;
      color: #004F2D;
      display: flex;
      justify-content: center;
    }
  }

  .swiper-container {
    margin-top: 0;
  }

  .fond-audit {
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin-bottom: 0px;
    padding-left: 50px;

    h3 {
      grid-column: 1 / 2;
      margin-right: 25px;
      margin-left: 0px;
    }

    p {
      margin-right: 150px;
      margin-left: 75px;
      margin-top: 25px;
      grid-column: 2 / 3;
    }
  }
}


@media (min-width: 1400px) {

  .fond-idee {
    .title-sec {
      padding-left: 100px;
    }
  }

  .fond-audit {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    padding-left: 100px;

    h3 {
      margin-right: 0px;
    }

    p {
      margin-right: 150px;
      margin-left: 75px;
      margin-top: 25px;
      max-width: 700px;
    }
  }

  .section-idee {
    padding-left: 100px;

    p {
      max-width: 700px;
    }
  }

  .swiper-slide {
    max-width: 25%;
    height: 400px;
    margin-inline-start: 4%;
    margin-inline-end: 4%;

    h4 {
      font-family: "kallisto", sans-serif;
      font-weight: 500;
      font-style: normal;
      font-size: 23px;
      color: #004F2D;
      display: flex;
      justify-content: center;
    }
  }
}


@media (min-width: 1800px) {

  .section-idee {
    padding-left: 100px;

    p {
      max-width: 800px;
    }
  }

  .swiper-container {

    .swiper-slide {
      max-width: 23%;
      height: 400px;
      margin-inline-start: 4.5%;
      margin-inline-end: 4.5%;
    }
  }

  .section-comp {
    margin-left: 50px;
    margin-right: 50px;

    .vignette2 {
      max-width: 70%;
      height: 500px;
    }
  }

  .fond-audit {
    padding-bottom: 100px;

    p {
      max-width: 800px;
    }
  }
}