.title {
  color: #D95D39;
  font-size: 32px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 25px;
  margin-right: 25px;

}

.title-header {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-family: "kallisto", sans-serif;
  font-weight: 800;
  font-style: normal;
  color: #004F2D;
  font-size: 35px;

}

.title--prin {
  font-family: "kallisto", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin-top: 50px;
}

.title-col {
  color: #004F2D;
}

.title-sec {
  font-family: "kallisto", sans-serif;
  font-weight: 800;
  font-style: normal;
  margin-top: 15px;
}

.title-tert {
  font-family: "kallisto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 23px;

}

.km {
  font-family: "kallisto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  color: #E7C06A;
  margin-left: 30px;
  margin-top: 25px;
}

p {
  font-family: "forma-djr-micro", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 23px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 15px;
  margin-bottom: 0;
}

.p--intro {
  font-size: 18px;
  line-height: 25px;
}

.title-audit {
  margin-bottom: 0;
}

.p--audit {
  margin-top: 15px;
  padding-bottom: 50px;
}

a {
  text-decoration: none;
  color: white;
}


@media (min-width: 600px) {

  .title {
    font-size: 36px;
  }

  .title--prin {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 75px;
    font-size: 51px;
  }

  .title-sec {
    margin-left: 50px;
    margin-right: 50px;
  }

  .title-tert {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 25px;
  }

  p {
    font-size: 18px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .km {
    margin-left: 50px;
  }

  .p--audit {
    padding-bottom: 75px;
  }
}


@media (min-width: 800px) {


  .title--prin {
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 75px;
  }

  .title-sec {
    margin-left: 75px;
    margin-right: 75px;
  }

  .title-tert {
    margin-left: 75px;
    margin-right: 75px;
  }

  p {
    margin-left: 75px;
    margin-right: 150px;
  }

  .km {
    margin-left: 75px;
  }

}


@media (min-width: 1024px) {
  .p--intro {
    margin: 15px;
    font-size: 22px;
  }

  .title--prin {
    margin-left: 15px;
    margin-right: 0px;
  }

  .title-header {
    color: #E7C06A;
    transform: rotate(-90deg);
    font-size: 80px;
    background-color: transparent;
    display: flex;
    justify-items: center;
  }

  .title-sec {
    margin-left: 50px;
    margin-right: 75px;
  }

  .title-tert {
    margin-left: 50px;
    margin-right: 75px;
  }

  p {
    margin-left: 50px;
    margin-right: 150px;
    line-height: 30px;
  }

  .km {
    margin-left: 25px;

    ::before {
      content: "◉";
    }
  }
}



@media (min-width: 1400px) {
  .p--intro {
    margin: 15px;
    font-size: 25px;
    line-height: 1.5;

  }

  .title--prin {
    margin-left: 15px;
    margin-right: 0px;
  }

  .title-header {
    color: #E7C06A;
    transform: rotate(-90deg);
    font-size: 100px;
    background-color: transparent;
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: center;
    font-size: 100px;
  }

  .title-sec {
    margin-left: 50px;
    margin-right: 75px;
  }

  .title-tert {
    margin-left: 50px;
    margin-right: 75px;
  }

  p {
    margin-left: 50px;
    margin-right: 150px;
    line-height: 30px;
  }

  .km {
    margin-left: 25px;
  }
}