body {
}

.title{
  color: #D95D39;
  font-size: 32px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 25px;
  margin-right: 25px;
}

.title-header{
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-family: "kallisto", sans-serif;
  font-weight: 800;
  font-style: normal;
  color: #004F2D;
  font-size: 35px;
 
}

.title--prin{
  font-family: "kallisto", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin-top: 50px;
}

.title-col{
  color: #004F2D;
}

.title-sec{
  font-family: "kallisto", sans-serif;
  font-weight: 800;
  font-style: normal;
  margin-top: 15px;
}

.title-tert{
  font-family: "kallisto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 23px;
  
}

.km{
  font-family: "kallisto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  color: #E7C06A;
  margin-left: 30px;
  margin-top: 25px;
}

p{
  font-family: "forma-djr-micro", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 23px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 15px;
  margin-bottom: 0;
}

.p--intro{
  font-size: 18px;
  line-height: 25px;
}

.p--audit{
  margin-top: 15px;
  margin-bottom: 50px;
}