.body-video {
    margin-bottom: 150px;

    .title {
        text-decoration: underline;
    }
}

.video {
    width: 85%;
    display: flex;
    margin: auto;
    margin-top: 40px;
}

@media (min-width: 600px) {
    .body-video {
        margin-bottom: 350px;

        .video {
            margin-bottom: 50px;
        }
    }
}


@media (min-width: 1024px) {

    .body-video {
        margin-left: 200px;
        margin-top: 100px;
        margin-bottom: 200px;
        width: 30%;

        div {
            display: flex;
            justify-content: space-between;
        }
    }

    .video {
        margin-left: 25px;
        margin-bottom: 0;
    }
}