@import 'utils/variables';
@import 'components/type';
@import 'components/images';
@import 'components/burgermenu';
@import 'components/btn';
@import 'components/section-besoin';
@import 'components/swiper';
@import 'components/section-passe';
@import 'components/section-futur';
@import 'components/fond';
@import 'components/footer';
@import 'components/page-fonc';
@import 'components/grille';
@import 'components/section-fonc';

@import 'components/page-uikit';
@import 'components/credit';
@import 'components/video';

@import '../../node_modules/swiper/swiper-bundle.css';



html,
body {
    margin: 0;

}

body {
    background-color: #FCF4DF;
}

.container-max {
    max-width: 1801px;
    margin: 0 auto;

}

header {
    background-color: #E7C06A;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 200;

}

.reveal {
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}


.reveal.act,
.reveal.revealed {
    opacity: 1;
    transform: translateY(0);
}




@media (min-width: 1024px) {

    .body-acc {

        main {
            margin-left: 25px;
            border-left: 3px solid #E7C06A;
        }
    }

    header {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        background-color: #004F2D;
        height: 100vh;
        width: 150px;
        z-index: 200;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-bottom-right-radius: 200px;
        margin-bottom: 75px;
    }


    .title-header {
        display: block;
        margin-left: auto;
        margin-right: auto;

    }




    /*header {

        position: absolute;
        top: 0px;
        left: 0px;
        margin: 0;
        background-color: #004F2D;
        height: 100%;
        max-width: 150px;
        z-index: 200;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-bottom-right-radius: 200px;
        margin-bottom: 75px;
        justify-items: center;

        .title-header {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

    }*/

    /*.mini-logo {
        top: 200px;
        left: 50px;
        width: fit-content;
        z-index: 200;
        display: none;


        path {
            stroke: #E7C06A;
        }
    }*/
}

@media (min-width: 1400px) {}