@import 'utils/variables';
@import 'components/type';
@import 'components/images';
@import 'components/burgermenu';


html, body{
    margin: 0;
}

body{
    background-color: #FCF4DF;
}

header{
    background-color: #E7C06A;
    height: 70px;
}

footer{
    background-color: #E7C06A;
    height: 50px;
}