@import 'utils/variables';
@import 'components/type';
@import 'components/images';
@import 'components/burgermenu';
@import 'components/btn';
@import 'components/section-besoin';
@import 'components/swiper';
@import 'components/section-passe';
@import 'components/section-futur';

@import '../../node_modules/swiper/swiper-bundle.css';

html, body{
    margin: 0;
}

body{
    background-color: #FCF4DF;
}

header{
    background-color: #E7C06A;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 200;
}

footer{
    background-color: #E7C06A;
    height: 50px;
}